*.so
*.o
*.elf
EBOOT.BIN
/libretro/obj/

/libretro/msvc/msvc-2010/Debug/
/libretro/msvc/msvc-2010/Release/
*.suo
*.sdf
*.bc

*.dll
*.dylib
.npmignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

build
*.old
*.gba
*.3dsx
*.elf
*.smdh
*.nacp
*.nro
*.exe

Release
*.bak

public/44gba.js
public/44gba.js.symbols
public/44gba.wasm

test